.node {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: black;
  transition: background-color 0.2s;
}

.node:hover {
  background-color: #f0f8ff;
}

.node-wall {
  background-color: #ff0000;
}

.node-start {
  background-color: #00c853;
  color: white;
}

.node-finish {
  background-color: blue;
  color: white;
}

.node-visited {
  background-color: #90caf9;
}

.node-shortest-path {
  background-color: #ffd54f;
}

.node-content {
  pointer-events: none; 
}